In [9]:
name = "prabowo"
age = 50
addres, province = "Jl. Cibolang", '7413412'
pythonScore = 90.5
isMarried = True

print('nama: ', name)
print('umur: ', age)
print('alamat:', addres)
print('provinsi: ', province)
print('nilai pemrograman: ', pythonScore)
print('status menikah: ', isMarried)

nama:  prabowo
umur:  50
alamat: Jl. Cibolang
provinsi:  7413412
nilai pemrograman:  90.5
status menikah:  True

In [8]:
print('tipe data (nama)', type(name))
print('tipe data (age)', type(age))
print('tipe data (addres)', type(addres))
print('tipe data (province)', type(province))
print('tipe data (pythonScore)', type(pythonScore))
print('tipe data (isMarried)', type(isMarried))

tipe data (nama) <class 'str'>
tipe data (age) <class 'int'>
tipe data (addres) <class 'str'>
tipe data (province) <class 'str'>
tipe data (pythonScore) <class 'float'>
tipe data (isMarried) <class 'bool'>

In [ ]:
##### casting atau konversi tipe data

# STRING
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print('STRING:', strToInt+200, strToFloat, strToBool)

# INTEGER
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print('INT:', intToStr, intToFloat, intToBool)

# FLOAT
floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
print('FLOAT:', floatToStr, floatToInt, floatToBool)

# BOOLEAN
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print('BOOL:', boolToStr, boolToInt, boolToFloat)

In [38]:
# string adalah kumpulan dari beberapa karakter dan immutable

city = 'Sukabumi'
panjang = len(city)
print(city[0])
print(city[panjang-1])

S
i

In [42]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff
print('nilai desimal:',desimal)
print('nilai biner:',biner)
print('nilai octal:',octal)
print('nilai hexa:',hexa)
# convt
print('biner dari ', desimal, ':', bin(desimal))
print('octal dari ', desimal, ':', oct(desimal))
print('hexa dari ', desimal, ':', hex(desimal))

nilai desimal: 500
nilai biner: 10
nilai octal: 255
nilai hexa: 255
biner dari  500 : 0b111110100
octal dari  500 : 0o764
hexa dari  500 : 0x1f4

In [54]:
# data type collection
cities = ['sukabumi','bandung','jakarta']
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = 'jakarta'
print(cities)

hobbies = ('basket', 'solat', 'makan')
print(hobbies)
print(hobbies[0])
# hobbies[0] = 'watching netflix' error program
studentsList = [
    {
    'name' : 'rudi',
    'age' : 99,
    'address' : {
        'street' : 'Jl. Cibolong kalur',
        'number' : 9999,
        'province' : 'Kab. Sukabumi'
        }
    },
    {
    'name' : 'baba',
    'age' : 98,
    'address' : {
        'street' : 'Jl. Cibolong kalur',
        'number' : 9998,
        'province' : 'Kab. Sukabumi',
        }
    }
]

print(studentsList)

['sukabumi', 'bandung', 'jakarta']
sukabumi
jakarta
['sukabumi', 'jakarta', 'jakarta']
('basket', 'solat', 'makan')
basket
[{'name': 'rudi', 'age': 99, 'address': {'street': 'Jl. Cibolong kalur', 'number': 9999, 'province': 'Kab. Sukabumi'}}, {'name': 'baba', 'age': 98, 'address': {'street': 'Jl. Cibolong kalur', 'number': 9998, 'province': 'Kab. Sukabumi'}}]